{% extends "dashboard/root.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}

{% block css %}
		<link href="{% static "css/zTreeStyle.css" %}" rel="stylesheet">
		<link href="{% static "css/jquery.dataTables.min.css" %}" rel="stylesheet" type="text/css" />
		<link href="{% static "css/jquery.dataTables_themeroller.css" %}" rel="stylesheet" type="text/css" />
		<link href="{% static "css/dataTables.bootstrap.css" %}" rel="stylesheet" type="text/css" />
		<link href="{% static "css/dashboard/nodes.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}
			<div class="content-wrapper">
				<section class="content-header">
					<h1>
						Controller Nodes
						<small>Optional description</small>
					</h1>
					<ol class="breadcrumb">
						<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
						<li class="active">Here</li>
					</ol>
				</section>

				<section class="content">
					<div class="row">
						<div class="col-md-2">
							<div class="box box-default">
								<div class="box-header with-border">
									<h3 class="box-title">Node tree</h3>
									<div class="box-tools pull-right">
										<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
									</div>
								</div>
								<div class="box-body">
									<ul id="node_tree" class="ztree"></ul>
								</div>
							</div>
						</div>
						<div class="col-md-10">
							<div class="box box-default">
								<div class="box-header with-border">
									<h3 class="box-title">Node tree</h3>
									<div class="box-tools pull-right">
										<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
									</div>
								</div>
								<div class="box-body">
                                    <table id="example" class="display" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>URL</th>
                                                <th>Type</th>
                                                <th>View</th>
                                                <th>Manage</th>
                                            </tr>
                                        </thead>

                                        <tfoot>
                                            <tr>
                                                <th>Name</th>
                                                <th>URL</th>
                                                <th>Type</th>
                                                <th>View</th>
                                                <th>Manage</th>
                                            </tr>
                                        </tfoot>

                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
							</div>
						</div>
					</div>
				</section>
			</div>
{% endblock %}

{% block js %}
		<script src="{% static "js/jquery.ztree.core-3.5.min.js" %}"></script>
		<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
		<script src="{% static "js/dataTables.bootstrap.min.js" %}"></script>
		<script src="{% static "js/dashboard/nodes.js" %}"></script>
{% endblock %}