{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<meta name="keywords" content="上海科技大学,信息科学与技术学院,ShanghaiTech University,School of Information Science and Technology,SIST,Shanghai,China,Chinese Academic of Sciences,Shanghai Pudong Science and Technology Park,Zhangjiang's high-tech industrial development zone,Shanghai Advanced Research Institute,site map,news,events,schools,information,web site,campus,library,admission,research,employment,university">
		<meta name="description" content="Welcome to ShanghaiTech University The School of Information Science and Technology (SIST) home page, Students, Faculty, Staff, Partners, and the general public can use this site to find information on campus news, services, events, and resources posted on the campus web">

		<title>{% block title %}{% endblock %}School of Information Science and Technology</title>
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<link href="http://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="http://cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
		<link href="{% static "css/AdminLTE.min.css" %}" rel="stylesheet" type="text/css" />
		<link href="{% static "css/skins/skin-blue-light.min.css" %}" rel="stylesheet" type="text/css" />
		{% block css %}{% endblock %}

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
				<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
				<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body class="skin-blue-light sidebar-mini">
		<div class="wrapper">

			<header class="main-header">
				<a href="index2.html" class="logo">
					<span class="logo-mini"><b>SIST</b></span>
					<span class="logo-lg"><b>SIST</b>@ShanghaiTech</span>
				</a>
				<nav class="navbar navbar-static-top" role="navigation">
					<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
						<span class="sr-only">Toggle navigation</span>
					</a>
					<div class="navbar-custom-menu">
						<ul class="nav navbar-nav">
							<li><a href="#">Back to home page</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Username <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Change Password</a></li>
									<li><a href="#">Logout</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
			</header>

			<aside class="main-sidebar">
				<section class="sidebar">
					<ul class="sidebar-menu">
						<li class="header">HEAD</li>
						<li class="active"><a href="#"><i class="fa fa-home"></i> <span>Index</span></a></li>
						<li class="header">Structure</li>
						<li><a href="#"><i class="fa fa-sitemap"></i> <span>Controller nodes</span></a></li>
						<li><a href="#"><i class="fa fa-puzzle-piece"></i> <span>Template themes</span></a></li>
						<li class="header">System</li>
						<li><a href="#"><i class="fa fa-area-chart"></i> <span>Status</span></a></li>
						<li><a href="#"><i class="fa fa-gears"></i> <span>Settings</span></a></li>
						<li><a href="#"><i class="fa fa-info"></i> <span>About</span></a></li>
					</ul>
				</section>
			</aside>

			{% block body %}
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>
						Page Header
						<small>Optional description</small>
					</h1>
					<ol class="breadcrumb">
						<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
						<li class="active">Here</li>
					</ol>
				</section>

				<!-- Main content -->
				<section class="content">

					<!-- Your Page Content Here -->

				</section><!-- /.content -->
			</div>
			{% endblock %}

			<footer class="main-footer">
				<div class="pull-right hidden-xs">
					CODE IS POESTRY
				</div>
				<strong>Copyright &copy; 2015 <a href="http://www.eastpiger.com/">eastpiger</a> @ SIST, Shanghaitech University.</strong> All rights reserved.
			</footer>

		</div>
		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/bootstrap.min.js" %}"></script>
		<script src="{% static "js/app.min.js" %}"></script>
		{% block js %}{% endblock %}
	</body>
</html>
