/*
* @Author: eastpiger
* @Date:   2015-11-05 15:58:41
* @Last Modified by:   eastpiger
<<<<<<< HEAD
* @Last Modified time: 2015-12-11 20:50:48
*/
#article{
	margin-bottom: 60px;
}
#article-title h2{
	margin-top: 40px;
	margin-bottom: 40px;
	font-style: italic;
}
#article-content{
	line-height: 2em;
}
=======
* @Last Modified time: 2015-12-11 16:08:55
*/
#article-title h2{
	margin-top: 40px;
	margin-bottom: 40px;
}

>>>>>>> 682e6ab6f05cd5fc841654dc9a210161720514a4
#article-content p{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
}
