/*
* @Author: eastpiger
* @Date:   2015-11-05 15:58:41
* @Last Modified by:   eastpiger
* @Last Modified time: 2015-12-11 03:02:56
*/
body{
	background-position: 0px 450px;
}
#top{
	height: 450px;
}
#top-logo{
    text-shadow: 0px 3px 5px rgb(0, 0, 0);
    position: absolute;
    top: 160px;
    text-align: center;
}
#top-logo #university{
	font-size: 36px;
	line-height: 1.1;
}
#home-introducation{
	padding: 40px 10px;
}
#home-introducation p{
	color: #777777;
	font-size: 16px;
	line-height: 24px;
}
#home-context{
	margin: 40px auto;
}
.home-news-block{
	padding: 5px 10px 10px 10px;
	border-bottom: #EEEEEE solid 1px;
}
.home-news-block:hover{
	background-color: #EEEEEE;
	cursor: pointer;
}
.home-news-block h3{
	font-weight: 300;
}
.home-news-block:hover h3{
	color: #004098;
}
.home-news-block:nth-last-child(2){
	border-bottom: none;
}
.home-events-block{
	padding: 20px;
}
.home-events-block:hover{
	cursor: pointer;
}
.home-events-block:hover .home-events-title{
	background-color: #EEEEEE;
}
.home-events-block:hover .home-events-time,
.home-events-block:hover .home-events-time span{
	color: #004098;
	border-color: #004098;
}
.home-events-time > span{
	font-size: 16px;
	font-weight: bold;
}
.home-events-time > span > span{
	margin-top: 0px;
	border-top: 1px solid #777777;
	color: #777777
}



