{% extends "root.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}

{% block css %}
		<link href="{% static "css/alll/list.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}
		<div class="container" id="body_panel">
			<div class="row-fluid">
				<div class="col-md-9" id="body_panel_list">
					<div class="row">
						<div class="col-md-12" id="body_panel_list_breadcrumb">
							<ol class="breadcrumb">
								<li><a href="#">Home</a></li>
								<li><a href="#">Library</a></li>
								<li class="active">Data</li>
							</ol>
						</div>
						<div class="col-md-12" id="body_panel_list_hr">
							<hr/>
						</div>
						<div class="col-md-12" id="body_panel_list_body">
							<div class="row">
								<div class="col-md-6" id="body_panel_list_body_panel">
									<div id="body_panel_list_body_panel_image">
										<img src="{% static "image/news/news.jpg" %}" alt="...">
									</div>
									<h4>First batch of BeSTEC visitors arrive at Berkeley</h4>
									<p>The first delegation of SIST@ShanghaiTech, consisting of Professor Pingqiang Zhou, Professor Shenghua Gao, and Mr. Kai Liao has started their Berkeley time from the last week of Jan. 2015.</p>
								</div>
								<div class="col-md-6" id="body_panel_list_body_panel">
									<div id="body_panel_list_body_panel_image">
										<img src="{% static "image/news/news.jpg" %}" alt="...">
									</div>
									<h4>First batch of BeSTEC visitors arrive at Berkeley</h4>
									<p>The first delegation of SIST@ShanghaiTech, consisting of Professor Pingqiang Zhou, Professor Shenghua Gao, and Mr. Kai Liao has started their Berkeley time from the last week of Jan. 2015.</p>
								</div>
								<div class="col-md-6" id="body_panel_list_body_panel">
									<div id="body_panel_list_body_panel_image">
										<img src="{% static "image/news/news.jpg" %}" alt="...">
									</div>
									<h4>First batch of BeSTEC visitors arrive at Berkeley</h4>
									<p>The first delegation of SIST@ShanghaiTech, consisting of Professor Pingqiang Zhou, Professor Shenghua Gao, and Mr. Kai Liao has started their Berkeley time from the last week of Jan. 2015.</p>
								</div>
								<div class="col-md-6" id="body_panel_list_body_panel">
									<div id="body_panel_list_body_panel_image">
										<img src="{% static "image/news/news.jpg" %}" alt="...">
									</div>
									<h4>First batch of BeSTEC visitors arrive at Berkeley</h4>
									<p>The first delegation of SIST@ShanghaiTech, consisting of Professor Pingqiang Zhou, Professor Shenghua Gao, and Mr. Kai Liao has started their Berkeley time from the last week of Jan. 2015.</p>
								</div>
								<div class="col-md-6" id="body_panel_list_body_panel">
									<div id="body_panel_list_body_panel_image">
										<img src="{% static "image/news/news.jpg" %}" alt="...">
									</div>
									<h4>First batch of BeSTEC visitors arrive at Berkeley</h4>
									<p>The first delegation of SIST@ShanghaiTech, consisting of Professor Pingqiang Zhou, Professor Shenghua Gao, and Mr. Kai Liao has started their Berkeley time from the last week of Jan. 2015.</p>
								</div>
								<div class="col-md-6" id="body_panel_list_body_panel">
									<div id="body_panel_list_body_panel_image">
										<img src="{% static "image/news/news.jpg" %}" alt="...">
									</div>
									<h4>First batch of BeSTEC visitors arrive at Berkeley</h4>
									<p>The first delegation of SIST@ShanghaiTech, consisting of Professor Pingqiang Zhou, Professor Shenghua Gao, and Mr. Kai Liao has started their Berkeley time from the last week of Jan. 2015.</p>
								</div>
								<div class="col-md-6" id="body_panel_list_body_panel">
									<div id="body_panel_list_body_panel_image">
										<img src="{% static "image/news/news.jpg" %}" alt="...">
									</div>
									<h4>First batch of BeSTEC visitors arrive at Berkeley</h4>
									<p>The first delegation of SIST@ShanghaiTech, consisting of Professor Pingqiang Zhou, Professor Shenghua Gao, and Mr. Kai Liao has started their Berkeley time from the last week of Jan. 2015.</p>
								</div>
								<div class="col-md-6" id="body_panel_list_body_panel">
									<div id="body_panel_list_body_panel_image">
										<img src="{% static "image/news/news.jpg" %}" alt="...">
									</div>
									<h4>First batch of BeSTEC visitors arrive at Berkeley</h4>
									<p>The first delegation of SIST@ShanghaiTech, consisting of Professor Pingqiang Zhou, Professor Shenghua Gao, and Mr. Kai Liao has started their Berkeley time from the last week of Jan. 2015.</p>
								</div>
								<div class="col-md-6" id="body_panel_list_body_panel">
									<div id="body_panel_list_body_panel_image">
										<img src="{% static "image/news/news.jpg" %}" alt="...">
									</div>
									<h4>First batch of BeSTEC visitors arrive at Berkeley</h4>
									<p>The first delegation of SIST@ShanghaiTech, consisting of Professor Pingqiang Zhou, Professor Shenghua Gao, and Mr. Kai Liao has started their Berkeley time from the last week of Jan. 2015.</p>
								</div>
								<div class="col-md-6" id="body_panel_list_body_panel">
									<div id="body_panel_list_body_panel_image">
										<img src="{% static "image/news/news.jpg" %}" alt="...">
									</div>
									<h4>First batch of BeSTEC visitors arrive at Berkeley</h4>
									<p>The first delegation of SIST@ShanghaiTech, consisting of Professor Pingqiang Zhou, Professor Shenghua Gao, and Mr. Kai Liao has started their Berkeley time from the last week of Jan. 2015.</p>
								</div>
							</div>
						</div>
						<div class="col-md-12 text-center" id="body_panel_list_page">
							<nav>
								<ul class="pagination">
									<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
									<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">6</a></li>
									<li><a href="#">7</a></li>
									<li><a href="#">8</a></li>
									<li><a href="#">9</a></li>
									<li>
										<a href="#" aria-label="Next">
											<span aria-hidden="true">&raquo;</span>
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
				<div class="col-md-3" id="body_panel_right">
					<div class="row">
						<div class="col-md-12" id="body_panel_right_pointlist">
							<h4>Links</h4>
							<hr/>
							<ul class="nav nav-pills nav-stacked">
								<li role="presentation" class="active"><a href="#">Home</a></li>
								<li role="presentation"><a href="#">Profile</a></li>
								<li role="presentation"><a href="#">Messages</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}

{% block js %}{% endblock %}