/*
* @Author: eastpiger
* @Date:   2015-11-05 15:58:40
* @Last Modified by:   eastpiger
* @Last Modified time: 2016-01-27 18:38:29
*/
@import url(https://fonts.googleapis.com/css?family=Lato);
*{
	font-weight: 200;
	font-family:
		-apple-system,            // OSX ^10.11 & iOS ^9  San Francisco & 苹方

		// English First
		"Helvetica Neue",         // OSX
		"Arial",                  // Win "Helvetica"
		//" Segoe UI",            // Win ^8

		// Chinese Fallback
		"PingFang SC",            // OSX ^10.11 & iOS ^9  苹方（华康信凭黑）
		"Hiragino Sans GB",       // OSX ^10.6            冬青黑体
		"STHeiti",                // OSX <10.6  & iOS <9  华文黑体
		"Microsoft YaHei",        // Win                  微软雅黑
		"Microsoft JhengHei",     // Win                  微软正黑
		"Source Han Sans SC",     // SourceHan - begin    思源黑体
		"Noto Sans CJK SC",
		"Source Han Sans CN",
		"Noto Sans SC",
		"Source Han Sans TC",
		"Noto Sans CJK TC",       // SourceHan - end
		"WenQuanYi Micro Hei",    // Linux                文泉驿微米黑
		SimSun,                   // Win old              中易宋体
		sans-serif;               // System Fallback
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	cursor: pointer;
}
body{
	background: #FAFAFA url("/static/image/bg_mark.jpg") top center no-repeat;
	background-size: contain;
}
.subtitle a{
	font-size: 30px;
	font-weight: 300;
	font-style: italic;
	letter-spacing: 3px;
	color: black;
	text-decoration: none;
}
.subtitle a small{
	color: #777777;
	font-size: 14px;
	margin-left: 20px;
}
#top{
	border-top: rgb(0, 64, 152) 6px solid;
	height: 160px;
	background: url("/static/image/bg_up.png") center center no-repeat,
		url("/static/image/bg.jpg") center center no-repeat;
	background-size: cover;
}
#top-menu-container {
	background: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 6px;
	left: 0px;
	right: 0px;
	height: 60px;
  transition: all .3s;
}
#top-menu-container:hover {
	background: rgba(0, 0, 0, 0.2);
}
#top-menu-btn{
	display: none;
}
#top-menu-logo{
	display: none;
}
#top-menu{
	text-align: right;
	z-index: 2;
}
#top-menu a{
	color: #DDDDDD;
	font-size: 18px;
	font-weight: normal;
	line-height: 30px;
	margin: 0px 10px;
}
#top-menu a:hover{
	text-decoration: none;
}
#top-menu ul{
	margin: 0px;
}
#top-menu li{
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: right;
	width: auto;
	float: none;
  transition: all .3s;
}
#top-menu li:hover{
	background: rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
#top-logo{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
#top-logo h1{
	color: #DDDDDD;
}
#top-logo #university{
	font-size: 20px;
	margin: 0px;
  display: inline-block;
	line-height: 30px;
	padding: 15px 20px;
}
#top-logo #school{
  text-shadow: 0px 3px 5px rgb(0, 0, 0);
	padding: 0px 20px;
}
#contactInfo{
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-top:30px;
	height: 5 68px;
	background-color:#222;
}
#contactInfo h2{
	color: #DDDDDD;
	font-weight: lighter;
	vertical-align: bottom;
	width: 100%;
	margin: 0px;
}

#contactInfo h2 small{
	color: #DDDDDD;
	font-weight: normal;
}
#contactInfo h2 span{
	font-weight: lighter;
	font-size:14px;
}
#contactInfo .info-left{
	padding:50px;
}
#contactInfo .info-left .info-content{
	margin:50px 0;
	height:368px;
	text-align: center;
	vertical-align: middle;
	font-size: 30px;
	background: url("/static/image/river.jpg") no-repeat;
	background-size: cover;
}

#contactInfo .info-right{
	margin-top:100px;
}
#contactInfo .info-right h3{
	color: #DDDDDD;
	vertical-align: bottom;
	width: 100%;
	margin: 10px 0;
}
#contactInfo .info-right hr{
	vertical-align: bottom;
	border:none;
	border-top:3px groove skyblue;
	width: 30%;
	margin: 10px 0;
}
#contactInfo .contact-info{
	color: #DDDDDD;
	font-weight: lighter;
	font-size:18px;
	vertical-align: bottom;
	width: 100%;
	margin: 0px;
}
#contactInfo .contact-info-item{
	line-height: 200%;
	vertical-align: middle;
}
#contactInfo .social-info{
	margin-top:50px;
}

#contactInfo .social-info img{
	width:50px;
	height:50px;
	margin:0 5px;
}



#footer{
	font-family: Georgia, 'Times New Roman', Times, serif;
	/*background: url("/static/image/bg.jpg") center center no-repeat;*/
	/*background:-webkit-linear-gradient(top,#0a5299 0%, #083d73 100%);*/
	background-color:#333;
}

#footer .footer-end{
	color: #DDDDDD;
	font-size: 18px;
	margin:35px 0;
	text-align: center;
}


.default-hr hr{
	margin: 30px 0px;
	border-color: #E0E9FF;
	color: #E0E9FF;
}

#root-with-right-menu-menu{
	margin-top: -60px;
	background: rgba(0, 64, 152, 0.4);
	padding: 0px;
  transition: all .3s;
	color: white;
}
#root-with-right-menu-menu:hover{
	background: rgba(0, 64, 152, 0.6);
	padding: 0px 0px 10px 0px;
}
#root-with-right-menu-menu > ul{
	margin: 0px 0px 40px 0px;
}
#root-with-right-menu-menu > ul > li > a{
	font-size: 20px;
	font-weight: 300;
	font-style: italic;
	letter-spacing: 3px;
	color: white;
	text-decoration: none;
	line-height: 40px;
	text-align: right;
	padding: 10px 20px;
  display: block;
	width: 100%;
}
#root-with-right-menu-menu > ul > li > ul{
	padding: 0px;
}
#root-with-right-menu-menu > ul > li > ul > li:before{
	content: "〇";
	margin-right: 5px;
}
#root-with-right-menu-menu > ul > li > ul > li.selected:before{
	content: "▶";
}
#root-with-right-menu-menu > ul > li > ul > li{
  padding-left: 30px;
	line-height: 60px;
}
#root-with-right-menu-menu > ul > li > ul > li:hover{
	background: rgba(255, 255, 255, 0.1);
	cursor: pointer;
}
#root-with-right-menu-menu > ul > li > ul > li a{
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	letter-spacing: 3px;
	color: white;
	text-decoration: none;
}

@media (max-width: 767px) {
	#top-menu-btn{
		position: absolute;
		color: #DDDDDD;
		font-size: 18px;
		top: 4px;
		right: 5px;
		display: block;
		z-index: 11;
		padding: 10px;
	}
	#top-menu-btn:hover{
		cursor: pointer;
	}
	#top-menu-logo{
		position: fixed;
		color: #DDDDDD;
		font-size: 18px;
		top: 20px;
		left: 10px;
		display: block;
		z-index: 11;
		display: none;
	}
	#top-menu{
		position: fixed;
		top: 0px;
		left: 0px;
		margin: 0px;
		z-index: 10;
		padding: 60px 0px;
		background-color: rgba(0, 0, 0, 0);
		height: 0px;
		width: 0px;
		overflow: hidden;
	}
	#top-menu li{
		border-bottom: 1px solid #DDDDDD;
		text-align: center;
		width: 50%;
		float: left;
	}
	#top-menu a{
		font-size: 22px;
		font-weight: normal;
		width: 100%;
		height: 100%;
		display: block;
		padding: 20px 0px;
	}
	body.mobile-menu-enabled #top-menu-btn{
		position: fixed;
		top: 10px;
		right: 20px;
	}
	body.mobile-menu-enabled #top-menu{
		display: block;
		background-color: rgba(0, 0, 0, 0.8);
		width: 100%;
		height: 100%;
		transition: background-color .15s ease-out;
	}
	body.mobile-menu-enabled #top-menu-logo{
		display: block;
	}
	#top-logo{
		top: 4px;
		padding-left: 0px;
		padding-right: 0px;
	}
	#top-logo h1{
		color: #DDDDDD;
	}
	#top-logo #university{
		font-size: 18px;
	}
	#top-logo #school{
		font-size: 24px;
		line-height: 30px;
	}
	#contactInfo h2{
		font-size: 16px;
	}
	#contactInfo h2 span{
		font-size:10px;
	}
}
@media (max-width: 992px) {
	#top-logo #school{
		font-size: 30px;
	}
	#root-with-right-menu-menu > ul{
		margin-top: 0px;
	}
	#root-with-right-menu-menu > ul > li > a{
		font-size: 20px;
	}
	#root-with-right-menu-menu > ul > li > ul > li{
		font-size: 16px;
		width: 50%;
		float: left;
	}

}
