{% extends "root.html" %}
{% load i18n %}
{% load staticfiles %}
{% load cms_tags sekizai_tags menu_tags %}

{% get_current_language as LANGUAGE_CODE %}

{% block root_css %}
		<link href="{% static "css/home.css" %}" rel="stylesheet">
{% endblock %}

{% block root_body %}
		<div class="container-fluid" id="home-introducation">
			<div class="container">
				<h1 id="home-introducation-about">{% page_attribute "page_title" "about" %}</h1>
				<div class="row">
					<div class="col-md-12" id="home-introducation-title">
						<h1>
							{% ifequal LANGUAGE_CODE 'zh' %}
								信息科学与技术学院
							{% else %}
								School of Information Science and Technology
							{% endifequal %}
						</h1>
					</div>
					<div class="col-md-12" id="home-introducation-body">
						<p>{% static_placeholder 'school-introducation' %}</p>
					</div>
					<div class="col-md-12 subtitle text-right" id="home-introducation-more">
						<a href="{% page_url "about" %}"><small>More…</small></a>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid" id="home-news">
			<div class="container">
				<h1 id="home-news-news">{% page_attribute "page_title" "news" %}</h1>
				<div class="row">
					<div class="col-md-12 subtitle text-right">
						<a href="{% page_url "news" %}"><small>More News…</small></a>
					</div>
					{% show_menu_below_id 'news' 0 0 0 0 "menu/home_news_menu.html" %}
				</div>
			</div>
		</div>
		<div class="container-fluid" id="home-seminars">
			<div id="home-seminars-bg"></div>
			<div class="container">
				<h1 id="home-seminars-seminars">{% page_attribute "page_title" "seminars" %}</h1>
				<div class="row">
					<div class="col-md-6 col-md-offset-6" id="home-seminars-list">
						<div class="row">
							{% show_menu_below_id 'seminars' 0 0 1 6 "menu/home_seminars_menu.html" %}
							<div class="col-md-12 subtitle text-right">
								<a href="{% page_url "seminars" %}"><small>More Seminars…</small></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
