{% extends "root.html" %}
{% load staticfiles %}
{% load cms_tags sekizai_tags menu_tags %}

{% block root_css %}
		<link href="{% static "css/default.css" %}" rel="stylesheet">
{% endblock %}

{% block root_body %}
		<div class="container" id="default-introducation">
			<div class="row">
				<div class="col-md-12">
					<p>{% static_placeholder 'school-introducation' %}</p>
				</div>
			</div>
		</div>
		<div class="container default-hr">
			<hr>
		</div>
		<div class="container" id="default-context">
			<div class="row">
				<div class="col-md-7" id="default_news_list">
					<div class="row">
						<div class="dol-md-12 default_news_block">
							<h3>Sören Schwertfeger Finalist for the SSRR 2015 Best Paper Award</h3>
							<p>Sören Schwertfeger presented a paper with the title "Using Fiducials for 3D Map Evaluation". This paper was a finalist for the best paper award of SSRR 2015.</p>
						</div>
						<div class="dol-md-12 default_news_block">
							<h3>Sören Schwertfeger Finalist for the SSRR 2015 Best Paper Award</h3>
							<p>Sören Schwertfeger presented a paper with the title "Using Fiducials for 3D Map Evaluation". This paper was a finalist for the best paper award of SSRR 2015.</p>
						</div>
						<div class="dol-md-12 default_news_block">
							<h3>Sören Schwertfeger Finalist for the SSRR 2015 Best Paper Award</h3>
							<p>Sören Schwertfeger presented a paper with the title "Using Fiducials for 3D Map Evaluation". This paper was a finalist for the best paper award of SSRR 2015.</p>
						</div>
						<div class="dol-md-12 default_news_block">
							<h3>Sören Schwertfeger Finalist for the SSRR 2015 Best Paper Award</h3>
							<p>Sören Schwertfeger presented a paper with the title "Using Fiducials for 3D Map Evaluation". This paper was a finalist for the best paper award of SSRR 2015.</p>
						</div>
						<div class="dol-md-12 text-right" id="default_news_more">
							<a>More…</a>
						</div>
					</div>
				</div>
				<div class="col-md-5" id="default_events_list">
					<div class="row">
						<div class="col-md-12 default_events_block">
							<div class="row">
								<div class="col-md-3 text-right default_events_time">
									<span>
										May<br>
										<span>15th</span>
									</span>
								</div>
								<div class="col-md-9 default_events_title">
									Coding Schemes with Rate-Limited Feedback that Improve over the Nofeedback Capacity for a Large Class of Broadcast Channels
								</div>
							</div>
						</div>
						<div class="col-md-12 default_events_block">
							<div class="row">
								<div class="col-md-3 text-right default_events_time">
									<span>
										May<br>
										<span>15th</span>
									</span>
								</div>
								<div class="col-md-9 default_events_title">
									Coding Schemes with Rate-Limited Feedback that Improve over the Nofeedback Capacity for a Large Class of Broadcast Channels
								</div>
							</div>
						</div>
						<div class="col-md-12 default_events_block">
							<div class="row">
								<div class="col-md-3 text-right default_events_time">
									<span>
										May<br>
										<span>15th</span>
									</span>
								</div>
								<div class="col-md-9 default_events_title">
									Coding Schemes with Rate-Limited Feedback that Improve over the Nofeedback Capacity for a Large Class of Broadcast Channels
								</div>
							</div>
						</div>
						<div class="col-md-12 default_events_block">
							<div class="row">
								<div class="col-md-3 text-right default_events_time">
									<span>
										May<br>
										<span>15th</span>
									</span>
								</div>
								<div class="col-md-9 default_events_title">
									Coding Schemes with Rate-Limited Feedback that Improve over the Nofeedback Capacity for a Large Class of Broadcast Channels
								</div>
							</div>
						</div>
						<div class="col-md-12 default_events_block">
							<div class="row">
								<div class="col-md-3 text-right default_events_time">
									<span>
										May<br>
										<span>15th</span>
									</span>
								</div>
								<div class="col-md-9 default_events_title">
									Coding Schemes with Rate-Limited Feedback that Improve over the Nofeedback Capacity for a Large Class of Broadcast Channels
								</div>
							</div>
						</div>
						<div class="col-md-12 default_events_block">
							<div class="row">
								<div class="col-md-3 text-right default_events_time">
									<span>
										May<br>
										<span>15th</span>
									</span>
								</div>
								<div class="col-md-9 default_events_title">
									Coding Schemes with Rate-Limited Feedback that Improve over the Nofeedback Capacity for a Large Class of Broadcast Channels
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
