{% extends "root.html" %}
{% load cms_tags sekizai_tags menu_tags %}

{% block root_css %}
{% endblock %}

{% block root_body %}
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<p>{% block root_with_right_menu_body %}{% endblock %}</p>
				</div>
				<div class="container default-hr visible-xs-block">
					<hr>
				</div>
				<div class="col-md-3" id="root-with-right-menu-menu">
					{% block root_with_right_menu_menu %}
					<ul class="list-unstyled">
						{% show_sub_menu 1 0 100 "menu/root_with_right_menu_menu.html" %}
					</ul>
					{% endblock %}
				</div>
			</div>
		</div>
{% endblock %}
