{% load menu_tags %}
{% load sist_tags %}

{% for child in children|slice:"-8:"|slice:"::-1"  %}
{% show_placeholder_as "seminars_timerange" child.id as seminars_timerange %}
{% show_placeholder_as "seminars_speaker" child.id as seminars_speaker %}
<div class="col-md-12 home-seminars-block clickbox" href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">
	<div class="row">
		<div class="col-md-2 text-center home-seminars-time">
			<span>{{ seminars_timerange | striptags | slice:"::-1" | truncatewords:2 | slice:"::-1" | truncatewords:2 | slice:"3:-4" | cut:" " }}<br>
				<span>{{ seminars_timerange | striptags | slice:"::-1" | truncatewords:1 | slice:"::-1" | slice:"3:" |  cut:" " }}</span>
			</span>
		</div>
		<div class="col-md-10 home-seminars-title">
			{{ child.get_menu_title }}
			<p class="text-right home-seminars-title-speaker">by {{ seminars_speaker }}</p>
		</div>
	</div>
</div>
{% endfor %}
